html, body {
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    border: 0;

    background-color: black;
    width: 100%;
    height: 100%;

    font-family: sans-serif;
}

.title {
    color: green;
}

#password_div, #key_div {
    display: none;
}

.centered:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.centered {
    height: 100%;
    width: 100%;

    text-align: center;
    vertical-align: middle;
    margin: auto;
    display: grid;
}

.rk5_input {
    background-color: white;
    height: 25px;
    width: 300px;
    border: none;
    border-radius: 5px;
    padding: 0 5px;
    text-align: center;
}

.rk5_link {
    color: lightgreen;
    display: block;
    text-decoration: none;
    margin-top: 10px;
}

.rk5_link:hover {
    color: white
}

.submit_div {
    background: #bcf500;
    background-image: -webkit-linear-gradient(top, #bcf500, #43b82c);
    background-image: -moz-linear-gradient(top, #bcf500, #43b82c);
    background-image: -ms-linear-gradient(top, #bcf500, #43b82c);
    background-image: -o-linear-gradient(top, #bcf500, #43b82c);
    background-image: linear-gradient(to bottom, #bcf500, #43b82c);

    border-radius: 100%;
    height: 45px;
    width: 45px;
    margin: 18px auto;

    /*display: none;*/
}

#submit_div:active {
    background: #dcf3f5;
    border: 3px solid #bcf500;
    margin: 15px auto;
}

.rk5_submit {
    font-family: Arial;
    border: none;
    background-color: transparent;
    margin: 11px auto;
    font-size: 20px;
    font-weight: bold;
    outline: none;
}

.key_checker {
    position: absolute;
    display: inline-flex;
    transform: translate(25%, -63%);
}

.red_button {
    background: #f6697c;
    background-image: -webkit-linear-gradient(top, #f6697c, #b82c2c);
    background-image: -moz-linear-gradient(top, #f6697c, #b82c2c);
    background-image: -ms-linear-gradient(top, #f6697c, #b82c2c);
    background-image: -o-linear-gradient(top, #f6697c, #b82c2c);
    background-image: linear-gradient(to bottom, #f6697c, #b82c2c);
}