<meta charset="utf-8">
<title>{% block title %}Web Project{% endblock title %}</title>

{% block stylesheets %}
    <link href="/style/global.css" rel="stylesheet">
{% endblock %}

<script src="/js/jquery.js"></script>
