<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        html, body {
            top: 0;
            left: 0;
            margin: 0;
            padding: 0;
            border: 0;

            background-color: black;
            width: 100%;
            height: 100%;

            font-family: sans-serif;
        }

        .mainDiv {
            color: white;
            font-weight: bold;
            font-size: 25px;

            width: 100%;
            text-align: center;
            margin: 50px 0;
            height: 80px;
            line-height: 30px;
        }

        .mainDiv p {
            margin: 0;
        }

        #nameProject {
            height: initial;
            line-height: normal;
            margin: 0 0 50px 0;
            color: green;
        }

        #passwordProject {
            height: initial;
            line-height: normal;
            color: #0d0d0d;
        }
    </style>
</head>
<body>
{% block body %}

{% endblock body %}
</body>
</html>